p > #teszt2 {
    background-color: yellow;
}

ul > li > ul{
    background-color: yellow ;
}

p > a:last-child{
    background-color: yellow;   
}

p:only-of-type{
    background-color: lightblue;
}

form > label:nth-child(1){
    background-color: lightgreen;
}

ul:first-of-type{
    border: 2px dotted grey;
}

ul > li:nth-child(even){
    color:red;
}

ul > li:nth-last-of-type(2){
    text-decoration: underline;
}

form > input:last-child{
    border: 2px solid blue;
}

h1:last-of-type{
    color: green;
}