
a {
    color: #000;
    display: block;
    font-size: 60px;
    height: 80px;
    position: relative;
    text-decoration: none;
    text-shadow: 0 1px #fff;
    width: 80px;
}

#chess_board {
    margin: auto;
    border: 5px solid black ;
}

#chess_board td {
    background: black;
    background: -moz-linear-gradient(top, black, black);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(black), to(black));
    box-shadow: inset 0 0 0 1px black;
    -moz-box-shadow: inset 0 0 0 1px black;
    -webkit-box-shadow: inset 0 0 0 1px black;
    height: 80px;
    text-align: center;
    vertical-align: middle;
    width: 80px;
}

#chess_board tr:nth-child(odd) td:nth-child(even),
#chess_board tr:nth-child(even) td:nth-child(odd) {
    background: white;
    background: -moz-linear-gradient(top, white, white);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(white));
    box-shadow: inset 0 0 10px rgba(0, 0, 0, .4);
    -moz-box-shadow: inset 0 0 10px rgba(0, 0, 0, .4);
    -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, .4);
}
