*{
    font-size: 0;
}


p{
    background-color: greenyellow;
    width: 200px;
    height: 50px;
    display: inline-block;
    font-size: 8px;

}

a{
    background-color: gold;
    width: 200px;
    height: 50px;
    display: inline-block;
    font-size: inherit;

}

div{
    font-size: 12px;
}