h1{
    color: #F60;
    font-variant: small-caps;
}

H2{
    color:#993;
    font-variant: small-caps;
    text-indent: 20px;
}

p{
    text-indent: 20px;
}

ul{
    color: darkblue;
}

.b{
    color: black;
}

Body>h1{
    text-shadow: 3px 3px 1px darkgray ;
}

h1+p{
    text-indent: 0px;
}

ul~p{
    background-color: yellow;
}

h1.szegely{
    border-top: blue dotted;
}

h1~p.szegely{
    border: 4px double blue
}

#red{
    color: red;
}

input:disabled {
    background-color: darkgrey;
}

#post{
    border: grey solid 1px;
    margin: 20px;
}

#ipsum{
    font-weight: bold;
}

#teszt1, #teszt2{
    background-color: lightgreen;
}

#teszt2, #sz2{
    border: red solid 1px;
    font-style: italic;    
}

#sz1,#sz2, #teszt1, #teszt2{
    letter-spacing: 6px;
}

a:link{
    color: #00c;
    font-weight: bold;
}

a:visited{
    color:#666;
    font-weight: bold;
}

a:active{
    color:#000;
    font-weight: bold;
}

*:focus{
    border: 2px dotted #0f0;
}